*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
  min-height: 100vh;
}

#root {
  height: 100vh;
}

h1, h2, h3 {
  /* font-family: 'EB Garamond', serif; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
}

h1 {
  cursor: pointer;
  font-size: 24px;
}

h2 {
  margin-bottom: 16px;
  font-size: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.project-paragraph {
  font-family: 'Open Sans', sans-serif;
  color: #666;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 8px;
}

.selected {
  /* font-weight: 700; */
  color: #333;
}

.portrait {
  width: 100%;
  border-radius: 50%;
}

.techStackContainer img {
  margin: 0 16px;
}

.resume-link {
  text-decoration: none;
  color: #999;
}

.footer-link, footer div span {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-right: 32px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.bold {
  font-weight: 700;
}

button:hover {
  background: #555;
}

/* li:hover {
  color: #aaa;
} */
